Repository NoraNekoIT/algorithm-in-all-languages, pull requests merged in 2022-10, with the labels that each got.

#2 add sockMerchant javascript
  .js/sockMerchant.js
Labels: js, hactoberfest

#11 Create BubbleSort.js
  .js/BubbleSort.js
Labels: js, hactoberfest, hacktoberfest-accepted

#19 created solution of merge-two-sorted-lists.cpp
  .cpp/merge-two-sorted-lists.cpp
Labels: cpp, hacktoberfest, hacktoberfest-accepted

#5 hactoberfest-2022
  .cpp/bubble sort
Labels: cpp, hacktoberfest, hacktoberfest-accepted

#7 Feat/cesar bubble algorithms
  .java/BubbleSortAlgorithm.java
  .java/CesarCipherAlgorithm.java
Labels: java, hacktoberfest, hacktoberfest-accepted

#10 add bubble sort in javascript
  .js/bubbleSort.js
Labels: js, hacktoberfest, hacktoberfest-accepted

#20 Merge_sort.java
  .java/Merge_sort.java
Labels: java, hacktoberfest, hacktoberfest-accepted

#15 Binary Search algorithm added
  .py/BinarySearch.py
Labels: py, hacktoberfest, hacktoberfest-accepted

#22 Added heapsort, quicksort and mergesort algorithms in c
  .c/heapSort.c
  .c/mergeSort.c
  .c/quickSort.c
Labels: hacktoberfest, hacktoberfest-accepted, c

#24 Create Flip Binary Equivalent Binary Tree.cpp
  .cpp/Flip Binary Equivalent Binary Tree.cpp
Labels: cpp, hacktoberfest, hacktoberfest-accepted

#52 New
  .php/BinarSearch.php
  .py/LinearSearch.py
Labels: php, py, hacktoberfest, hacktoberfest-accepted

#68 Bubble sort in python solved
  bubble sort.py
Labels: py, hacktoberfest, hacktoberfest-accepted

#36 Searching Algorithms
  .java/Searchingalgorithms/binarySearch.java
  .java/Searchingalgorithms/linearSearch.java
Labels: java, hacktoberfest, hacktoberfest-accepted

#37 Create count-sort.cpp
  .cpp/count-sort.cpp
Labels: cpp, hacktoberfest, hacktoberfest-accepted

#35 Added searching algorithms in cpp folder
  .cpp/Binary_Search.cpp
  .cpp/Linear_Search.cpp
Labels: cpp, hacktoberfest, hacktoberfest-accepted

#47 quick_sort.java
  .java/Quick_sort.java
Labels: java, hacktoberfest, hacktoberfest-accepted
